examples/Periodic measurement.json
[
  {
      "id": "a10ce6647aa7d8d3",
      "type": "tab",
      "label": "CO2 concentration",
      "disabled": false,
      "info": "",
      "env": []
  },
  {
      "id": "c2794e75b2708365",
      "type": "inject",
      "z": "a10ce6647aa7d8d3",
      "name": "Every 5 seconds",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "5",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "x": 170,
      "y": 140,
      "wires": [
          [
              "d898dd6d63d70d56"
          ]
      ]
  },
  {
      "id": "60e9c11214962428",
      "type": "debug",
      "z": "a10ce6647aa7d8d3",
      "name": "Log result",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 560,
      "y": 140,
      "wires": []
  },
  {
      "id": "d898dd6d63d70d56",
      "type": "scd4x",
      "z": "a10ce6647aa7d8d3",
      "name": "SCD40",
      "busNumber": 1,
      "mode": "periodic",
      "tempOffset": 4,
      "asc": true,
      "x": 380,
      "y": 140,
      "wires": [
          [
              "60e9c11214962428"
          ]
      ]
  },
  {
      "id": "c933d225c87ea8c6",
      "type": "comment",
      "z": "a10ce6647aa7d8d3",
      "name": "Periodic measurement",
      "info": "# Periodic measurement\n\nIn the Periodic Measurement Mode, the SCD4x will make a measurement every 5 seconds,\nregardless of how frequently you send a message to the `SCD4x` node.\n\nIf a message arrives before a measurement has been made, you'll see a `Data not ready` warning in the log.\n\nTo conserve power, you can also switch to a low-power mode in which the SCD4x makes a measurement every 30 seconds.\n",
      "x": 160,
      "y": 60,
      "wires": []
  }
]
